global:
  scrape_interval: 15s
  scrape_timeout: 5s

scrape_configs:
  - job_name: "main-server"
    metrics_path: /actuator/prometheus
    static_configs:
      - targets: ["172.31.25.206:8083"]
        labels:
          service: "main"
          application: "main"

  - job_name: "chat-server"
    metrics_path: /actuator/prometheus
    static_configs:
      - targets: ["172.31.25.206:8082"]
        labels:
          service: "chat"
          application: "chat"