global:
  scrape_interval: 15s
  scrape_timeout: 5s

scrape_configs:
  - job_name: "main-server"
    metrics_path: /actuator/prometheus
    static_configs:
      - targets: ["localhost:8083"]
        labels:
          service: "main"

  - job_name: "chat-server"
    metrics_path: /actuator/prometheus

    ecs_sd_configs:
      - region: ap-northeast-2
        cluster: "happy-lion-zahji5"

    relabel_configs:
      - source_labels: [__meta_ecs_service_name]
        regex: chat-server-ec2
        action: keep

      - source_labels: [__meta_ecs_container_name]
        regex: chat-container
        action: keep

      - source_labels: [__meta_ecs_task_private_ip]
        target_label: __address__
        replacement: "$1:8082"

      - target_label: service
        replacement: "chat"
