global:
  scrape_interval: 15s
  scrape_timeout: 5s

scrape_configs:
  - job_name: "main-server"
    metrics_path: /actuator/prometheus
    static_configs:
      - targets: ["localhost:8083"]
        labels:
          service: "main"

  - job_name: "chat-server"
    metrics_path: /actuator/prometheus
    static_configs:
      - targets: ["localhost:8082"]
        labels:
          service: "chat"